.vscode
.vs
.vsconfig
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Binaries/
DerivedDataCache/
Intermediate/
Saved/
StarterContent/
Config/
!Plugins/AssetActionsManager/Config/
Content/
Source/
!Plugins/AssetActionsManager/Source/
*.uproject